* {
    box-sizing: border-box;
  }
  

body{
    background-color: white;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0;
    scroll-behavior: smooth;
}

html
{
    scroll-behavior: smooth;
}

.header{
    border-top: 6px black  solid;
    border-bottom: 10px lightgrey solid;
    padding: 1px;
    margin-top: 0%;
}

.atas li {
    display: inline;
    float: right;
    padding: 10px;
  }





a{
    text-decoration: none;
    font-family: cantarell;
}


.icon1{
    color: gray;
}

.icon1:hover{
    color: black;
}

.kotak img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
   
  .zoom-effect:hover .kotak img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }

.p1{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 18px;
    font-style: italic;
}


.nav-link{
    color: gray;
}

.nav-link:hover{
    color: black;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align: center;
    color:#fff !important;
    z-index:2;
}

.footer {
    border-top: 10px solid lightgray;
    padding: 5px;
    text-align: center;
    background: rgb(87, 85, 85);
    margin-top: 0px;
  }

.search {
    padding:5px 20px;
    background-color: white;
    border:1px solid lightgray;
    border-radius: 3px;
}